<!doctype html>
<html lang=de xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset=utf-8>
		<title>Title</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	</head>
	<body>
		<ul th:each="person : ${PersonenList}">
			<li th:text="${person.id}">ID</li>
			<li th:text="${person.anrede}">Anrede</li>
			<li th:text="${person.vorname}">Vorname</li>
			<li th:text="${person.nachname}">Nachname</li>
		</ul>
		<a th:href="@{/index.html}">Home page SEA</a>
	</body>
</html>